{{#partial "content"}}

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="type">Filter By Categories</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="category" id="all"value="all"
                           onClick="window.location = '/business';" >
                    <label class="form-check-label" for="all">All</label>
                </div>
                {{#each categories as |c|}}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="category" id={{c.id}} value={{c.id}}
                               onClick="window.location = '/business/category/{{c.id}}';" >
                        <label class="form-check-label" for={{c.id}}>{{c.name}}</label>
                    </div>

                {{/each}}

            </div>
            <div class="form-group">
                <label for="type">Filter By Most Recent</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="recent" id="recent"value="recent"
                           onClick="window.location = '/business/most-recent';" >
                    <label class="form-check-label" for="all">Most Recent</label>
                </div>

            </div>


        </div>
        <div class="col-md-10">
            {{#if businesses}}
                <div class="card-columns">
                    {{#each businesses as |b|}}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{b.name}}</h5>
                                <hr>

                                <a href="/business/{{b.id}}"><button class="btn btn-primary">View Details</button></a>

                            </div>
                        </div>

                    {{/each}}
                </div>
            {{/if}}
            {{#if business}}

                <div class="row">
                    <div class="col-md-8">
                        <div class="card-columns">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{business.name}}</h5>
                                    <hr>
                                    <p class="card-text">{{business.owner}}</p>
                                    <p class="card-text">{{business.email}}</p>
                                    <p class="card-text">{{business.phone}}</p>
                                    <p class="card-text">{{business.website}}</p>
                                    <p class="card-text">{{business.creation}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <a href="/reviews/form/{{business.id}}"><button class="btn btn-primary">Write
                            Review</button></a>
                        </div>
                        {{#if reviews}}
                            <h1>Reviews</h1>
                            {{#each reviews as |r|}}
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{r.writtenBy}}</h5>
                                        <hr>
                                        <p class="card-text">Review : {{r.review}}</p>
                                        <p class="card-text">Rating : {{r.rating}}</p>

                                    </div>
                                </div>

                            {{/each}}
                        {{else}}
                            <p>Business has no reviews</p>

                        {{/if}}

                    </div>

                </div>


            {{/if}}

        </div>
    </div>





{{/partial}}

{{> layout.hbs}}